body {
  background-color: #000000;
}

h1 {
  color: #FFFFFF;
  font-family: "Comic Sans MS", fantasy;
  text-align: center;
}

.video-container {
  display: block;
  margin: 0 auto;
  width: 42em;
}

.iframe-container {
  display: inline-block;
  height: 0;
  margin-bottom: 2em;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.iframe-container iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
