.content {

  &, h1 {
    color: $type;
  }

  + .content {
    padding-top: 0;
  }

  ul, ol {
    @include full-box;
    margin-bottom: $minor-space;

    li {
      display: list-item;
      line-height: 160%;
      margin-bottom: $nano-space;
      margin-left: $minor-space;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  p {
    + iframe, + .iframe-container {
      margin: $minor-space 0 $space;
    }
  }
} // End .content
