html, body {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

html {
  background-attachment: fixed;
  background-blend-mode: screen;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background;
}

body {
  color: $type;
  font-family: $font-stack;
  font-size: $base;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    background-size: 180vh;
    font-size: $tablet-base;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    background-image: none;
    font-size: $phone-base;
  } // End Phone & Below
} // End body

// Section
@mixin section {
  @include full-box();
  background-color: $foreground;
  padding: 6em 0;
}

section {
  @include section;
}

@mixin p {
  font-family: $font;
  font-size: 1em;
  line-height: 160%;
  margin-bottom: $minor-space;
} // End p

p {
  @include p;
}

.note {
  font-size: 0.875em;
}

strong {
  font-family: $font-bold;

  em {
    font-family: $font-bold-italic;
  }
}

em {
  font-family: $font-italic;

  strong {
    font-family: $font-bold-italic;
  }
}

hr {
  @include full-box(table);
  background-color: invert($border-color);
  height: 1px;
  margin-bottom: $space;
}

a {
  color: $callout;
}
