header {
  @include full-box(flex);
  padding: 2em 0;

  .wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo-display {
    align-items: center;
    display: flex;

    .logo {
      margin-right: 0.6em;
    }

    .emoji-rating {
      height: 0.6em;
    }
  }
} // End header
