.hero {
  @include full-box(flex);
  align-items: center;
  padding-top: 0;

  &:before {
    color: $callout;
    content: "WTF!?";
    font-family: $font-alt;
    font-size: 36vw;
    opacity: 0.33;
    position: absolute;
    transform: rotate(-10deg);
    z-index: -1;
  }

  &-content {
    position: relative;
    width: 60%;
    z-index: 2;

    // Only Tablet & Above - No Mobile Phone
    @media screen and (min-width: $tablet) {
      margin-top: 2em;
    } // End Tablet & Above

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      @include full-box;
    } // End Phone & Below

    &, p, a {
      color: $foreground;
    }

    p {
      margin-bottom: $space;
    }

    svg {
      &, use {
        fill: currentColor;
      }
    }
  }

  &-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    z-index: 1;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      @include full-box;
    } // End Phone & Below

    .video-placeholder {
      opacity: 0.75;

      &:before {
        background: linear-gradient(to right, rgba($background, 0.97) 33%,rgba($background, 0) 120%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          background: rgba($callout, 0.5);
        } // End Phone & Below
      }

      svg {
        @include vertical-center;
        height: 6em;
        opacity: 0;
        position: absolute;
        right: 10em;
        width: 6em;
        z-index: 2;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          height: 5em;
          width: 5em;
        } // End Phone & Below

        &, use {
          fill: $foreground;
        }
      }

      &:hover {
        opacity: 1;

        svg {
          opacity: 1;
        }
      }
    }
  }
}
