@mixin bounce-animation-keyframes {
	0%, 100% {
    @include browser-prefix(transform, translateY(-0.34em));
  }

  60% {
    @include browser-prefix(transform, translateY(0.54em));
  }
}

@-webkit-keyframes bounce-animation {
  @include bounce-animation-keyframes;
}

@keyframes bounce-animation {
  @include bounce-animation-keyframes;
}

.scroll-down-button {
  @include better-box;
  @include no-select;
  clear: both;
  cursor: pointer;

  svg {
    @include full-box;
    animation: bounce-animation 1.2s infinite;
    height: 3.5em;
    margin: 3.5em 0;
    width: 3.5em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      margin: 2em 0;
    } // End Phone & Below

    &, use {
      fill: $foreground;
    }
  } // End svg
} // End .scroll-down-button
