// Curtain
@mixin curtain($position: fixed) {
  background-color: rgba($background, 0.8);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: $position;
  top: 0;
  width: 100%;
  z-index: 9;
}

.curtain {
  @include curtain;
}

// Modal
@mixin modal {
  @include horizontal-center;
  display: none;
  max-width: 60em;
  top: $double-space;
  width: 100%;
  z-index: 10;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    top: 0;
  } // End Secondary Mobile

  .close {
    @include no-select;
    color: rgba($foreground, 0.6);
    cursor: pointer;
    font-size: 1.8em;
    position: absolute;
    right: 0;
    top: -#{$space};

    &:hover {
      color: $foreground;
    }

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      top: 0;
    } // End Phone & Below
  }

  .iframe-container {
    margin: 0;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      margin-top: 1.8em;
    } // End Phone & Below
  }
} // End modal

.modal {
  @include modal;
}

// Wrap
@mixin wrap($width: $wrap, $max-width: auto) {
  @include better-box(block);
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;

  &-padding {
    padding-left: calc((100% - #{$width}) / 2);
    padding-right: calc((100% - #{$width}) / 2);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    width: $wrap-mobile;
  } // End Phone & Below
} // End wrap

.wrap {
  @include wrap($wrap, 62em);
}

.inner-wrap {
  @include wrap($wrap, 52em);
}

.mini-wrap {
  @include wrap($wrap, 42em);
}

@mixin larger {
  font-size: 1.125em;
}

.larger {
  @include larger;
}

// Buttons
@mixin cta($color: $callout, $type-color: $foreground) {
  @include better-box;
  background-color: $color;
  border: 1px solid $color;
  border-radius: $border-radius;
  color: $type-color;
  cursor: pointer;
  font-family: $heading;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  line-height: 160%;
  padding: 1.3em 1.625em;
  text-transform: uppercase;

  span, svg {
    @include better-box;
    float: left;
  }

  svg {
    height: 0.9em;
    margin-left: $nano-space;
    width: 0.9em;

    & use {
      fill: none;
      stroke: $type-color;
      stroke-width: 3;
      stroke-linecap: round;
    }
  }

  &.cta-small {
    font-size: 0.75em;
    letter-spacing: 0.05em;
    margin-bottom: $half-space;
    padding: 0.655em 1.5em;
    text-transform: uppercase;
  }

  &.cta-large {
    font-size: 1.188em;
    min-width: 320px;
    padding: 1.5em 3em;
  }

  &.icon-cta {
    svg {
      @include better-box;
      height: 1em;
      display: inline-block;
      position: absolute;
      right: 1em;
      top: 1em;
      width: 1em;

      &, use {
        stroke: $foreground;
        stroke-width: 2.5;
      }
    } // End svg
  } // End &.icon-cta

  &:hover {
    background-color: $callout-hover;
    border-color: $callout-hover;
    // color: $color;

    // svg {
    //   & use {
    //     fill: $type-color;
    //     stroke: $color;
    //   }
    // }
  }

  &.destroy {
    background-color: $error;
    border-color: $error;

    &:hover {
      background-color: $error-hover;
    }
  } // End &-destroy
} // End cta mixin

a.cta {
  @include cta;
}

body.safari {
  a.cta {
    @include cta;
    padding-bottom: 1.325em;
    padding-top: 1.325em;
  }
}

a.cta-alt {
  @include cta($brand);
}

.half {
  @include better-box;
  margin-top: 0;
  width: 47.5%;

  &.left {
    clear: left;
    margin-right: 5%;
  }

  &.right {
    clear: right;
  }

  &, &.left, &.right {
    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      @include full-box;
    } // End Phone & Below
  }
}

.mini {
  p {
    font-size: 0.875em;
    margin-bottom: 1.250em;
  }
}

// Avatar
// @mixin avatar($background-color: $callout) {
//   @include better-box;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-color: $background-color;
//   background-size: 45%;
//   border-radius: 100%;
//   height: 3em;
//   width: 3em;
// }
//
// .avatar {
//   @include avatar;
//
//   &-admin {
//     @include avatar($background);
//   }
// }

.video-background {
  bottom: 0;
  display: block;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  min-width: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  // bottom: 0;
  // display: block;
  // height: auto !important;
  // left: 0;
  // max-height: 4000%;
  // max-width: 1000%;
  // min-width: 100%;
  // overflow: hidden;
  // right: 0;
  // top: 0;
  // width: 100% !important;

  // Big-Phone
  @media screen and (max-width: $big-phone) {
    display: none;
  } // End Big-Phone
}

.z-index {
  &-1 {
    z-index: 1;
  }

  &-2 {
    z-index: 2;
  }
}

.iframe-container {
  @include full-box;
  height: 0;
  margin-bottom: $minor-space;
  padding-bottom: 56.25%;

  iframe {
    height: 100%;
    position: absolute;
  }
} // End .iframe-container

@mixin video-baseline {
  opacity: 0.75;

  &:before {
    background: rgba($callout, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  svg {
    @include vertical-center;
    height: 6em;
    opacity: 0;
    position: absolute;
    right: 10em;
    width: 6em;
    z-index: 2;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      height: 5em;
      width: 5em;
    } // End Phone & Below

    &, use {
      fill: $foreground;
    }
  }

  &:hover {
    opacity: 1;

    svg {
      opacity: 1;
    }
  }
}

.video-placeholder {
  @include video-baseline;
  @include full-box;
  background-size: cover;
  background-position: center center;
  height: 0;
  padding-bottom: 56.25%;
}

iframe {
  @include full-box;
}

.social-icon {
  font-family: $social;
}

@mixin post-meta {
  @include better-box;
  font-family: $font-bold;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin: 0 $micro-space 0.4em 0;
  text-transform: uppercase;
}

.back {
  @include post-meta;
}

@mixin bold-link($color: $callout, $hover-color: $callout-hover) {
  @include animate;
  border-bottom: 0.2em solid $color;
  box-shadow: inset 0 -0.5em 0 $color;
  cursor: pointer;
  font-family: $font-bold;
  letter-spacing: 0.04em;
  line-height: 1.4;

  &:hover {
    @include animate;
    border-bottom: 0.2em solid $hover-color;
    box-shadow: inset 0 -0.5em 0 $hover-color;
  }
}

.bold-link {
  @include bold-link;
}
